name: CI on Push/Pull

on:
 pull_request:      // Added comment to trigger PRagain
   branches: 
    - main
permissions:
 contents: read
 packages: write
 
jobs:
 build:
  runs-on: ubuntu-latest

  steps:
  - name: checkout SCM
    uses: actions/checkout@v3

  - name: setup JDK
    uses: actions/setup-java@v4
    with:
      distribution: 'temurin'
      java-version: '17'
      

  - name: Build with the Maven
    run : mvn clean compile

  - name: Test with Maven
    run: mvn test

  - name: Build and Sonar Scan
     env:
       SONAR_TOKEN: ${{secrets.SONAR_TOKEN}}
     run: mvn clean verify org.sonarsource.scanner.maven:sonar-maven-plugin:4.0.0.4121:sonar -Dsonar.projectKey=venkatapavan99_Jenkins_Demo -Dsonar.organization=venkatapavan99 -Dsonar.host.url=https://sonarcloud.io
   
   - name: Upload to artifacts
     uses: actions/upload-artifact@v4
     with:
      name: Artiact demo
      path: target/*.jar
