name: SonarCloud Analysis

on:
  workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Build and Sonar Scan
      env:
        SONAR_TOKEN: ${{secrets.SONAR_TOKEN}}
      run: mvn clean verify org.sonarsource.scanner.maven:sonar-maven-plugin:4.0.0.4121:sonar -Dsonar.projectKey=venkatapavan99_Jenkins_Demo -Dsonar.organization=venkatapavan99 -Dsonar.host.url=https://sonarcloud.io

